*{
    margin: 0;
    padding: 0;
    text-align: center;
} 
body{
    background-color: rgb(251, 218, 174);
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 6rem;
    line-height: 6rem;
    
}
.choice{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.choice:hover{
 cursor: pointer;
 background-color: #081b31;
}
img{
    object-fit: cover;
    border-radius: 50%;
}
 
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3.5rem;
}

.score-board{
display: flex;
justify-content: center;
align-items: center;
font-size: 3.5rem;
gap: 5rem;
margin-top: 2rem;
}
#user-score,#comp-score{
    font-size: 8rem;
}
.msg-cnt{
    margin-top:3.5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    line-height: 3.5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius:25px;
}
.footer{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 3rem;
    line-height: 3.5rem;
}